[Unit]
Description=mugi sync
After=network.target
 
[Service]
User=mirror
Group=mirror
ExecStart=mugi /etc/mugi/mugi.conf %i
Restart=on-failure
StartLimitIntervalSec=90
StartLimitBurst=3
 
[Install]
WantedBy=multi-user.target
